<?xml version="1.0" encoding="UTF-8"?>
<configuration status="debug">
    <appenders>
        <!--这个输出控制台的配置-->
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <!--设置日志格式及颜色-->
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{bright,green} %highlight{%-5level} [%style{%t}{bright,blue}] %style{%C{}}{bright,yellow}: %msg%n%style{%throwable}{red}"
                    disableAnsi="false" noConsoleNoAnsi="false"/>
        </Console>
    </appenders>

    <loggers>
        <AsyncRoot level="INFO" includeLocation="true">
            <AppenderRef ref="consoleAppender"/>
        </AsyncRoot>
    </loggers>
</configuration>